
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/share/_LayoutPage1.cshtml";
}

<div id="cotphai">
    <div id="PTTT" style="margin:5px; padding:5px; font-family:'Times New Roman', Times, serif; font-style:normal">
        <h1 id="title" align="center" style="color:#F60">Liên hệ</h1>
        <div id="news-container" style="padding:10px; margin:10px;">
            <h5><span style="font-size: small;"><span style="font-family: arial;">Mọi thắc mắc xin liên hệ:</span></span></h5>
            <p><span style="font-size: small;"><span style="font-family: arial;"><strong>Nước Hoa Shop, số 6, Trần Văn Ơn, phường Phú Hòa, tp.Thủ Dầu Một, Bình Dương</strong></span></span></p>
            <p style="padding-left: 40px;"><span style="font-size: small;"><span style="font-family: arial;">Hoặc email: nuochoashop@gmail.com</span></span></p>
        </div>
    </div>
</div>

<div id="dautrang">
    <div class="dautrang1">
        <a href="lienhe.html" title="về đầu trang"><img src="image/Up.png" /></a>
    </div>
</div>
