@model remake.Models.Category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/share/_LayoutPage2.cshtml";
}

<h3 style="margin-left:200px;"> Bạn có chắc chắn muốn xóa ?</h3>
<div style="margin-left:300px;">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)

        </dt>
        <dt>
            @Html.DisplayFor(model => model.CategoryName)
        </dt>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <button type="submit" class="btn btn-dark" style="margin-left:400px;">Xóa</button>
    }

    <div style="padding-top:20px;">
        @Html.ActionLink("Quay về danh sách", "Index")
    </div>
</div>


